# Comentarios y tipos básicos de datos

In [1]:
# Esto es un comentario

In [2]:
print("¡Hola!") # Esto también es un comentario

¡Hola!

In [3]:
""" 
        Esto es un comentario de varias lineas.
        Así.
"""
print("¡Hola!")

¡Hola!

In [4]:
# Son enteros:
print(2)
print(10)

2
10

In [6]:
# Son de coma flotante:
print(10.953)
print(8.0)

10.953
8.0

In [7]:
# Son booleanos:
print(True)
print(False)

True
False

In [8]:
# Son string (cuerdas):
print("")
print(" ")
print("there's a snake on my boot!")
print('True')

there's a snake on my boot!
True

In [14]:
print(type(3))
print(type(3.5))
print(type(True))
print(type('¡Hola!'))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

# Variables

In [15]:
num1 = 5
num2 = 8.4
print(num1, num2)

5 8.4

In [16]:
switch = True
print(switch)

True

In [17]:
# Guardando strings en variables:
nombre = 'John Smith'
num_favorito = '9'
print(nombre, num_favorito)

John Smith 9

In [18]:
#Usando dos variables para crear otra:
resultado = num1 + num2
print(resultado)

13.4

In [19]:
# Suma, resta, multiplicación y división de una variable
resultado += 1 #igual que decir resultado = resultado + 1
print(resultado)
resultado *= num1 #igual que decir resultado = resultado*num1
print(resultado)

14.4
72.0

In [20]:
#Sobreescribiendo variables:
nombre = 'John'
print(nombre)
nombre = 'Sam'
print(nombre)

John
Sam

In [23]:
#Ejercicio:
x = 3
y = 10
resultado = x*y
print (resultado)
Area = 245.54 * 13.66
print(Area)

30
3354.0764

# Trabajando con Strings

In [26]:
#Concatenando cadenas:
nombre = 'John' + ' ' + 'Smith'
print(nombre)
#Usando variables
primer_nombre = 'John'
segundo_nombre = 'Smith'
nombre_completo = primer_nombre + ' ' + segundo_nombre
print(nombre_completo)

John Smith
John Smith

In [27]:
#Insertando variables a imprimir:
nombre = 'John'
print('Hola mi nombre es {} y tengo {} años'.format(nombre, 28))

Hola mi nombre es John y tengo 28 años

In [28]:
#f Strings (funciona desde python 3.7 en adelante)
nombre = 'John'
print(f'Hola mi nombre es {nombre} y tengo {28} años')

Hola mi nombre es John y tengo 28 años

In [31]:
#f Strings (Python 2)
primer_nombre = 'John'
print('Hola mi nombre es %s y tengo %d años' %(primer_nombre, 28))

Hola mi nombre es John y tengo 28 años

In [35]:
#Índices en cadenas:
palabra = 'Hola'
print(palabra[0])
print(palabra[1])
print(palabra[-2])
print(palabra[-1])

H
o
l
a

In [51]:
# Cortando cadenas:
print(palabra[0:2])
print(palabra[0:4:2])

Ho
Hl

# Manipulando cadenas

In [55]:
#Primera letra en mayúscula:
nombre = 'joHn smIth'
print(nombre.title())
print(nombre.upper())
print(nombre.lower())

John Smith
JOHN SMITH
john smith

In [60]:
#Reemplazando en cadenas:
palabras = 'Hola! careberga'
print(palabras.replace('b','v'))
print(palabras)

#Para almacenar la modificación
palabras = palabras.replace('b','v')
print(palabras)

Hola! careverga
Hola! careberga
Hola! careverga

In [64]:
#Encontrar el índice inicial del término a buscar:
s = 'Look over that way'
print(s.find('that'))

10

In [69]:
#Remover de una cadena:
nombre1 = '    John Smith  ' 
print(nombre1)
nombre2 = '***John*****'
print(nombre1.strip(' '))
print(nombre2.strip('*'))
print(nombre2.lstrip('*'))
print(nombre2.rstrip('*'))

    John Smith
John Smith
John
John*****
***John

In [75]:
#Convertir una cadena en una lista de palabras:
s = 'éstas palabras están separadas por espacios'
print(s.split())
s2 = 'éstas*con*asteríscos'
print(s2.split('*'))

['éstas', 'palabras', 'están', 'separadas', 'por', 'espacios']
['éstas', 'con', 'asteríscos']

In [76]:
help(''.strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

# Proyecto: Imprimiendo recibos

In [101]:
#Productos y precios
p1_nombre, p1_precio = 'Libros', 49.95
p2_nombre, p2_precio = 'CPU', 579.99
p3_nombre, p3_precio = 'Monitor', 124.89

In [80]:
#Nombre e información de la empresa
nombre_empresa = 'programando fracasos, ltda.'
direccion_empresa = 'Calle Bazuco 101-69'
ciudad_empresa = 'Tripalarga, Sudaca.'

In [98]:
#Mensaje al pie
mensaje = '¡Gracias por llevarse esta mierda!'

In [104]:
#Borde superior
print('*'*50)
#Mostrar información de empresa
print('\t\t{}'.format(nombre_empresa.title())) # \t --> mete tabulación // \n ---> nueva línea
print('\t\t{}'.format(direccion_empresa))
print('\t\t{}'.format(ciudad_empresa))
print('-'*50)
#Encabezado de la sección de objetos
print('\tProducto\tPrecio')
print('\t{}\t\t${}'.format(p1_nombre, p1_precio))
print('\t{}\t\t${}'.format(p2_nombre, p2_precio))
print('\t{}\t\t${}'.format(p3_nombre, p3_precio))
print('-'*50)
#Encabezado sección 'total'
print('\t\t\tTotal')
total = p1_precio + p2_precio + p3_precio
print('\t\t\t${}'.format(total))
print('-'*50)
print('\n\t{}\n'.format(mensaje))
print('*'*50)

**************************************************
		Programando Fracasos, Ltda.
		Calle Bazuco 101-69
		Tripalarga, Sudaca.
--------------------------------------------------
	Producto	Precio
	Libros		$49.95
	CPU		$579.99
	Monitor		$124.89
--------------------------------------------------
			Total
			$754.83
--------------------------------------------------

	¡Gracias por llevarse esta mierda!

**************************************************